<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Crafty+Girls|Fontdiner+Swanky" rel="stylesheet">

	<!-- Compiled and minified Materialize CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

	<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
	<title>Burger Time</title>
</head>

<body>

	<div id="header">
		<img src="assets/img/burger.jpg">

		<h1>Eat-Da-Burger!</h1>
	</div>

	<div>
	
		{{{ body }}}

	</div>

	<!-- <div>
		<form action="/insert" method="post" id="add"> 
		
			<input type="text" name="burger_name">

			<button type="submit">Submit</button>

			<p>Enter a burger you want to eat then click submit.</p>

		</form>
	</div> -->
	<footer class="burgerFooter">
		<div class="footer-copyright">
			<div class="container">
				<span class="grey-text text-lighten-4">© 2017 angrbrd entertainment</span>
				<a class="grey-text text-lighten-4 right" href="https://github.com/angrbrd">Reference Work</a>
			</div>
		</div>
	</footer>


</body>
</html>